@charset "UTF-8";
:root{
  --Main-color:#0d700d;
  --Sub-color:#5bc788;
  --Background-color:#fff;
  --Text-color:#333;
}

/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{display: block; color: inherit; text-decoration: none;}
span{display: block;}
.flex{display: flex; align-items: center;}

body{background: var(--Background-color); color: var(--Text-color);}
.wrap{width: 1200px; margin: auto;}

/* header */
header{width: 100%; height: 100px; justify-content: space-between;}
header::before{content: ''; width: 100%; height: 0; background: var(--Background-color); transition: .4s;
  position: absolute;  top: 100px; left: 50%; transform: translateX(-50%); z-index: 1;} 
  header.on::before{height: 160px; }
h1{width: 200px;height: 40px;}

nav{width: 70%; align-self: flex-end;}
.main-menu{flex: 1; text-align: center; position: relative;}
.main-menu::after{content: ''; width: 0%; height: 3px; background: var(--Sub-color); border-radius: 99px;
  position: absolute;  bottom: 0; left: 50%; transform: translateX(-50%); z-index: 1; transition: .4s;} 
  .main-menu.on::after{width: 50%;}
  .main-menu>a {padding: 15px 5px; font-size: 17px;}
  .main-menu:hover>a {font-weight: 600; color: var(--Main-color);}

.sub-menu{position: absolute; width: 100%; z-index: 9;  display: none; padding-top: 10px;}
.sub-menu a{padding: 10px;}
.sub-menu a:hover{color: var(--Main-color); font-weight: 600;}

.slide-container{width: 100%; height: 300px; overflow: hidden;}
.slide-wrap{width: 300%; height: 100%; position: relative;}
.slide {width: 100%; height: 100%; position: relative;}
.slide1 {background: url(../images/slide1.png);}
.slide2 {background: url(../images/slide2.png);}
.slide3 {background: url(../images/slide3.png);}
.slide .summary{position: absolute; bottom: 10%;left: 6%;}
.slide2 .summary{right: 8%;text-align: right;}
.slide .summary h4 {color: var(--Main-color); font-size: 32px; font-weight: 800; margin-bottom: 10px;}
.slide .summary p {color: #555555; font-size: 22px; font-weight: 700;}

/* contents */
.contents{width: 100%; height: 200px; justify-content: space-between; 
  border-bottom: 1px solid var(--Main-color); border-left: 1px solid var(--Main-color); border-right: 1px solid var(--Main-color); }
.content {width: 35%; height: 100%; padding: 15px;}
.content h3 {margin-bottom:5px; font-size: 18px; color: var(--Main-color);}

.notice{border-right: 1px solid var(--Main-color); }
.notice li {font-size: 15px; display: flex; justify-content: space-between; padding: 2px;cursor: pointer;}
.notice li a {width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice li:hover {font-weight: 700; } 
.notice li.on{background: var(--Sub-color);}

/* gallery */
.gallery ul { justify-content: space-between; margin-top: 14px;}
.gallery ul li {width: 32%; }
.gallery ul li:hover img {transform: scale(120%);}
.gallery ul li img {width: 100%;  transition: .4s;}

/* banner */
.banner{overflow: hidden; height: 100%; padding: 0;}
.banner .bg{width: 100%;height: 100%; transition: .4s;
  background: url(../images/banner.jpg); background-size: cover; cursor: pointer;}
.banner:hover .bg{transform: scale(105%);}

/* footer */
footer{width: 100%; height: 100px; border-bottom: 1px solid var(--Main-color);
  border-left: 1px solid var(--Main-color); border-right: 1px solid var(--Main-color); }
  footer h1{padding: 0 20px;}
  footer h1 img{width: 100%;}
.copyright{flex: 1; padding: 0 50px;  border-left: 1px solid var(--Main-color); 
  border-right: 1px solid var(--Main-color); }
.familysite{width: 200px; text-align: center;}

/* popupbox */
.popupbox{width: 100%;height: 100%; background: rgba(0, 0,0, .4); display: none;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.popup {width: 500px; background: var(--Background-color); padding: 50px;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.popup h3 {padding-bottom: 5px;}
.popup h5 {font-size: 15px; font-weight: 500; padding-bottom: 20px; margin-bottom: 20px; 
  color: #888;border-bottom: 1px solid #000;}
.popup p{padding: 10px 0;}

a.close {position: absolute; top: 0;right: 0; padding: 10px 20px;
  background: var(--Main-color); color: #fff;}