@charset "UTF-8";

:root{
  --main-color: #0a490e;
  --sub-color: #e3f3c9;
  --background-color: #ffffff;
  --text-color: #333333;
}

/* reset */
*{margin: 0;padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit; display: block;}
li{list-style: none;}
span{display: block;}
body{width: 100%; background-color: var(--background-color); color: var(--text-color);}
.flex{display: flex; align-items: center;}
.wrap{width: 100%; height: calc(400px + 200px + 250px);}
/* header */
header{width: 200px; height: 100%; border-right: 1px solid var(--main-color); position: relative;}
h1{width: 200px; height: 40px;}
nav{width: 80%; margin: auto; margin-top: 50px;}
.main-menu a {padding: 6px 20px;}
.main-menu:hover> a {background-color: var(--main-color);color: var(--sub-color); font-weight: 600;}
.sub-menu{border-bottom: 1px solid var(--main-color); display: none;}
.sub-menu a:hover {background-color: var(--sub-color);color: var(--main-color);}


.spot-menu{text-align: center; justify-content: center;  width: 100%;
  position: absolute; top: 50%;left: 50%; transform: translateX(-50%); z-index: 1;}
.spot-menu a {padding: 0 14px;}
.spot-menu a:hover {color: var(--main-color); font-weight: 600;}
.spot-menu li:nth-child(1) {border-right: 1px solid var(--main-color)}


main{width: calc(100% - 200px);}
/* slide */
.slide-container {width: 100%; height: 400px; overflow: hidden;}
.slide-wrap {width: 300%; height: 100%; position: relative;}
.slide {width: 100%; height: 100%; position: relative;}
.slide1 {background-image: url(../image/slide1-100.jpg);}
.slide2 {background-image: url(../image/slide2-100.jpg);}
.slide3 {background-image: url(../image/slide3-100.jpg);}

.slide span {text-indent: -99px; width: 100%; overflow: hidden;}
.slide .summary {position: absolute; top: 50px; left: 50px;}


/* banner */
.banner-wrap {width: 100%; height: 200px; position: relative;}
.banner{width: 100%; height: 200px;position: absolute; top: 0;left: 0;}
.banner1 {background: url(../image/banner-100.jpg); }
.banner2 {background: url(../image/banner2.png);}
.banner span {text-indent: -99px; width: 100%; overflow: hidden;}
.banner .summary  {position: absolute; top: 20%; left: 24%;}

/* contents */
.contents{width: 100%; height: 250px; padding: 5px 20px;}  
.tab-list {padding: 0px 20px;}
.tab-list a {padding: 10px 20px;font-size: 18px; color: var(--main-color);}
.tabs{position: relative;}
.tab{width: 100%; position: absolute; background: var(--background-color);}
.tab-list li.on a {color: var(--sub-color); background: var(--main-color);}
.tab-list li a {background: var(--sub-color);}

.notice{border-top: 1px solid var(--main-color);}
.notice li {display: flex; justify-content: space-between; padding: 6px 20px; cursor: pointer;}
.notice li:hover {color: var(--main-color);background-color: var(--sub-color);}
.notice li a {width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.gallery {display: none;}
.gallery ul {width: 100%; justify-content: space-evenly; height: 200px;}
.gallery li {width: 30%; height: 80%; overflow: hidden;}
.gallery li a {width: 100%; overflow: hidden;}
.gallery li img {width: 100%; transition: .4s;}
.gallery li:hover img {transform: scale(110%); opacity: 0.8;}


/* shortcut */
.shortcut{width: 100px; position: absolute; top: 0;right: 0; background-color: #fff; text-align: center; padding: 20px;}
.shortcut ul {flex-direction: column; gap: 20px;}
.shortcut ul li {width: 80px;}
.shortcut ul li img {width: 100%;filter: brightness(1.2);}
.shortcut ul li:hover img {filter: brightness(1);}
.shortcut ul li figcaption {color: var(--main-color);} 
.shortcut ul li:hover figcaption {font-weight: 600;} 




/* footer */
footer{width: 100%; height: 100px; background: var(--main-color);}
footer .copyright{flex: 1; color: #eee; padding: 0 10%; font-size: 14px;}
footer .copyright p{padding: 5px;}
footer .sns{width: 200px; height: 100%; justify-content: center;gap: 10px;}
footer .sns li {width: 40px;}
footer .sns li img {width: 100%;}



/* popup */
.popup{width: 520px; background: var(--background-color) ; padding: 60px; border: 1px solid var(--main-color);
position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%); display: none;}
.popup h4 {text-align: center; font-size: 18px; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid var(--main-color);}
.popup p {padding-bottom: 20px;}

.close {padding: 10px 20px; background-color: var(--main-color); position: absolute; top: 0;right: 0; color: var(--sub-color);}