:root{
  --Main-color:#10ac78;
  --Sub-color:#067e56;
  --Sub-color2:#e44a4a;
  --Background-color:#fff;
  --Text-color:#333;
}

/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}
a{display: block; color: inherit; text-decoration: none;}
li {list-style: none;}
.flex{display: flex;align-items: center;}

body{background: var(--Background-color); color: var(--Text-color);}
.wrap{width: 1200px; margin: auto;}

/* header */
header{width: 100%;height: 100px; justify-content: space-between;}
h1{width: 200px; height: 40px;}
nav{width: 70%;}
.main-menu {flex: 1;position: relative; text-align: center;}
.main-menu>a{padding: 5px; font-size: 17px;}
.main-menu:hover>a{font-weight: 600; color: var(--Sub-color);}
.sub-menu{position: absolute; width: 100%; height: 160px; display: none;
  background: var(--Background-color); padding: 10px 0;}
.sub-menu li:hover a{background: var(--Main-color); color: #fff;}
.sub-menu a{padding: 5px;}

/* slide */
.slide-container{width: 100%;height: 300px;}
.slide-wrap{width: 300%; height: 100%;}
.slide{width: 100%; height: 100%; border: 1px solid #000; position: relative;}
.slide1{background: url(../images/slide1.png);}
.slide2{background: url(../images/slide2.png);}
.slide3{background: url(../images/slide3.png);}

.slide .summary {position: absolute; top: 20%; left: 10%;}
.slide .summary h2{color :var(--Sub-color)}
.slide .summary b{color :var(--Sub-color2)}
.slide .summary p{color :var(--Text-color)}

/* contents */
.contents{width: 100%;height: 200px;}
.content{width: 30%; height: 100%; border: 1px solid #000;}
.tabs{width: 40%; padding: 20px;}
.tab-menu a{padding: 5px 10px; background: #eee;}
.tab-menu li.on a{padding: 5px 10px; background: var(--Main-color); color: #fff; font-weight: 600;}
.tab-contents{position: relative; }
.tab-content{position: absolute; top: 0;left: 0;}


.gallery {gap: 20px; display: none;}
.gallery li {flex: 1; overflow: hidden; }
.gallery li:hover img {transform: scale(110%);}
img{width: 100%; transition: .4s;}


.banner{background: url(../images/banner.png); background-size: cover; background-position: center;}
.shortcut{background: url(../images/shortcut.png); background-size: cover; background-position: center;}

/* footer */
footer{width: 100%;height: 100px; border: 1px solid #000;}