@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* reset */
*{margin: 0;padding: 0;box-sizing: border-box;}

:root{
  --main-color:#bcabec; 
  --sub-color:#ffe9a2; 
  --sub-color2:#e7e4f0; 
  --background-color:#fff; 
  --text-color:#333; 
}
img{vertical-align: top; width: 100%;} 
li{list-style: none;} 
a{text-decoration: none; display: block; color: inherit;}
span{display: block;}
.flex{ display: flex; }
.jc-center{justify-content: center;}
.ali-center {align-items: center;}

body{background: var(--background-color); color: var(--text-color); font-family: Pretendard Variable; font-weight: 400; }
.wrapper{width: 1200px; margin: auto; }

/* header */
header{ width: 100%;  height: 100px; justify-content: space-between;}
h1{width: 200px; height: 40px;} a{width: 100%;}
/* nav */
nav{width: 60%; text-align: center;}
.main-menu{flex: 1; position: relative;}

.main-menu>a{padding: 10px; transition: .4s;}
.main-menu>a::after{content: ''; width: 0%; height: 3px; border-radius: 99px;
  position: absolute; bottom: 0; left: 50%;transform: translateX(-50%);
background: var(--main-color);transition: .4s;}
.main-menu.on>a {color: #4f3597; font-weight: 700;}
.main-menu.on>a::after{width: 50%;}

.sub-menu{display: none; padding: 10px 0; 
  position: absolute; z-index: 9; width:100%; background: var(--background-color);}
.sub-menu a{padding: 10px;}
.sub-menu a:hover{color: #8c72d3; font-weight: 700;}


/* section slide*/
.slide-container{width: 100%; height: 300px; overflow: hidden;}
.slide-wraper{width: 300%; height: 100%; position: relative;}
.slide { width: 100%; height: 100%;}
.slide1 {background-image: url(../images/slide1.png);}
.slide2 {background-image: url(../images/slide2.png);}
.slide3 {background-image: url(../images/slide3.png);}


/* section contents */
section.contents{width: 100%; height: 200px;}
.content{width: 33%; height: 100%; justify-content: space-between;}
.content a{width: 100%; height: 100%;}

/* tab */
.tab{position: relative; width: 34%; padding: 10px;}
.tab-menu a{padding: 5px 20px; background: #eee;}
.tab-menu li a.on {background: var(--sub-color)}
.tab-contents{width: 95%; height: calc(100% - 39px); position: absolute; bottom: 0; left: 10px;}
.tab-content{width: 100%; height: 100%; position: absolute; display: none; border-top: 1px solid var(--sub-color);}
.tab-content.on{width: 100%; height: 100%; display: block;}

.notice ul {width: 100%; z-index: 9;} 
.notice ul li{cursor: pointer; padding: 6px 8px;
  display: flex; justify-content: space-between; }
.notice ul li:hover {background: var(--sub-color2); font-weight: 600; color: #4f3597;}
.notice ul li a {width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.gallery ul { width: 100%; height: 100%; gap: 15px; background: var(--background-color);}
.gallery ul li a img{ width: 100%; transition: .4s;}
.gallery ul li:hover img{transform: scale(105%);  opacity: 0.8;}

.content{overflow: hidden;}
.banner a{background: url(../images/banner.png); transition: .4s;}
.banner a:hover {transform: scale(105%);}
.shortcut a{background: url(../images/shortcut.png); transition: .4s;}
.shortcut a:hover {transform: scale(105%);}


/* footer */
footer{width: 100%; height: 100px; justify-content: space-between; background: #666;}
footer .sns{width:400px; height: 100%; justify-content: space-around;}
.copyright {width: 100%; font-size: 15px; padding: 10px 50px; color: #eee; font-weight: 300;} 


/* popup */
.popup {width: 460px; background: #fff; padding: 50px; display: none;
  position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%);}
.popup h3{ padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px solid #000; text-align: center;}
.popup p {line-height: 1.3; margin-bottom: 20px;}
.popup button {border: none; background: var(--text-color); color: #fff; padding: 10px 20px;
position: absolute; top: 0;right: 0; cursor: pointer;} 
